@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  margin: 0 auto;
  
}

h1 {
  text-align: center;
  font-size: 150px;
  font-family: "Rubik Moonrocks", sans-serif;
  color: #f2682a;
  margin-top: 100px;
}
header .menu-container{

  background-color: #f2682a;
}

header .menu-container div{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
}   

header nav ul{
  display: flex;
  list-style: none;

}

header nav a{
  padding: 0px 16px;
  color: white;
  display: block;
  text-decoration: none;


}
header div img{
margin-top: 10px;
margin-bottom: 10px;
  width: 75px;
}





.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 50vh;
  width: 1200px;
  display: flex;
  align-items: center;
}

.path {
  position: relative;
  width: 100%;
  height: 222px;
  margin-left: 600px;
  box-sizing: border-box;
  overflow: hidden;
}

.path::after {
  content: "";
  position: absolute;
  display: flex;
  flex-shrink: none;
  border-top: 43px dotted #333;
  width: 90%;
  top: 50%;
  left: 6%;
  animation: dotsMove 0.8s ease infinite;
}

@keyframes dotsMove {
  0% {
    margin-left: 43px;
  }

  100% {
    margin-left: -43px;
  }
}

.sprite {
  position: absolute;
  height: 204px;
  width: 237px;
  z-index: 1;
  animation: foxMouve 0.8s linear infinite alternate;
}

@keyframes foxMouve {
  50% {
    transform: translateX(8px);
  }

  100% {
    transform: translateX(-8px);
  }
}

.mouth {
  position: absolute;
  top: 33%;
  left: 33%;
  z-index: 2;
}

.mouth::before,
.mouth::after {
  content: "";
  position: absolute;
  display: block;
  height: 0;
  width: 0;
  border: solid 85px #f2682a;
  margin-top: -30px;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  animation: mouthTop 0.8s ease infinite;
}

@keyframes mouthTop {
  50% {
    transform: rotate(44deg);
  }
}

.mouth::after {
  border-color: #f2682a;
  border-right-color: transparent;
  border-top-color: transparent;
  animation: mouthBottom 0.8s ease infinite;
}

@keyframes mouthBottom {
  50% {
    transform: rotate(-44deg);
  }
}

#tail {
  animation: tailMove 0.4s linear infinite alternate;
  transform-origin: bottom;
}

@keyframes tailMove {
  0% {
    transform: rotateZ(-6deg);
  }

  100% {
    transform: rotateZ(3deg);
  }
}

#left-ear,
#right-ear {
  animation: earsMove 0.4s linear infinite alternate;
  transform-origin: bottom;
}

@keyframes earsMove {
  100% {
    transform: rotateZ(3deg);
  }
}
